body {
    background-color: lightblue;
}

table {
    border: 2px solid gray;
}

th {
    border: solid gray 1px;
}

th, td {
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    margin-top: 20px;
}